// Should remove the need for clearfix hacks.
body {
    display: flow-root;
}

.center {
    @include align-items(center);
    @include justify-content(center);
    @include text-align(center);
    align-self: center;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
}

.right {
    @include align-items(flex-end);
    @include justify-content(flex-end);
    @include text-align(right);
}

.flex {    
    // All screen sizes.
    &.all-parent-column {
        @include flexbox();
        @include flex-flow(column wrap);
    }
    &.all-parent-row {
        @include flexbox();
        @include flex-flow(row wrap);
    }
    &.all-child-span1 {
        @include flex(1);
    }
    &.all-child-span2 {
        @include flex(2);
    }
    &.all-child-span3 {
        @include flex(3);
    }
    &.all-child-span4 {
        @include flex(4);
    }
    &.all-child-span5 {
        @include flex(5);
    }
    &.all-child-span100 {
        @include flex(100%);
    }
    &.all-child-first {
        @include flex-order(1);
    }
    &.all-child-second {
        @include flex-order(2);
    }
    &.all-child-third {
        @include flex-order(3);
    }
    &.all-child-fourth {
        @include flex-order(4);
    }
    &.all-child-fifth {
        @include flex-order(5);
    }

    // Phones only.
    &.phone-parent-column {
        @include for-size(phone-only) {
            @include flexbox();
            @include flex-flow(column wrap);
        }
    }
    &.phone-parent-row {
        @include for-size(phone-only) {
            @include flexbox();
            @include flex-flow(row wrap);
        }
    }
    &.phone-child-span1 {
        @include for-size(phone-only) {
            @include flex(1);
        }
    }
    &.phone-child-span2 {
        @include for-size(phone-only) {
            @include flex(2);
        }
    }
    &.phone-child-span3 {
        @include for-size(phone-only) {
            @include flex(3);
        }
    }
    &.phone-child-span4 {
        @include for-size(phone-only) {
            @include flex(4);
        }
    }
    &.phone-child-span5 {
        @include for-size(phone-only) {
            @include flex(5);
        }
    }
    &.phone-child-span100 {
        @include for-size(phone-only) {
            @include flex(100%);
        }
    }
    &.phone-child-first {
        @include for-size(phone-only) {
            @include flex-order(1);
        }
    }
    &.phone-child-second {
        @include for-size(phone-only) {
            @include flex-order(2);
        }
    }
    &.phone-child-third {
        @include for-size(phone-only) {
            @include flex-order(3);
        }
    }
    &.phone-child-fourth {
        @include for-size(phone-only) {
            @include flex-order(4);
        }
    }
    &.phone-child-fifth {
        @include for-size(phone-only) {
            @include flex-order(5);
        }
    }

    // Tablets, in portrait-mode.
    &.tablet-portrait-parent-column {
        @include for-size(tablet-portrait-up) {
            @include flexbox();
            @include flex-flow(column wrap);
        }
    }
    &.tablet-portrait-parent-row {
        @include for-size(tablet-portrait-up) {
            @include flexbox();
            @include flex-flow(row wrap);
        }
    }
    &.tablet-portrait-child-span1 {
        @include for-size(tablet-portrait-up) {
            @include flex(1);
        }
    }
    &.tablet-portrait-child-span2 {
        @include for-size(tablet-portrait-up) {
            @include flex(2);
        }
    }
    &.tablet-portrait-child-span3 {
        @include for-size(tablet-portrait-up) {
            @include flex(3);
        }
    }
    &.tablet-portrait-child-span4 {
        @include for-size(tablet-portrait-up) {
            @include flex(4);
        }
    }
    &.tablet-portrait-child-span5 {
        @include for-size(tablet-portrait-up) {
            @include flex(5);
        }
    }
    &.tablet-portrait-child-span100 {
        @include for-size(tablet-portrait-up) {
            @include flex(100%);
        }
    }
    &.tablet-portrait-child-first {
        @include for-size(tablet-portrait-up) {
            @include flex-order(1);
        }
    }
    &.tablet-portrait-child-second {
        @include for-size(tablet-portrait-up) {
            @include flex-order(2);
        }
    }
    &.tablet-portrait-child-third {
        @include for-size(tablet-portrait-up) {
            @include flex-order(3);
        }
    }
    &.tablet-portrait-child-fourth {
        @include for-size(tablet-portrait-up) {
            @include flex-order(4);
        }
    }
    &.tablet-portrait-child-fifth {
        @include for-size(tablet-portrait-up) {
            @include flex-order(5);
        }
    }

    // Tablets, in landscape-mode.
    &.tablet-landscape-parent-column {
        @include for-size(tablet-landscape-up) {
            @include flexbox();
            @include flex-flow(column wrap);
        }
    }
    &.tablet-landscape-parent-row {
        @include for-size(tablet-landscape-up) {
            @include flexbox();
            @include flex-flow(row wrap);
        }
    }
    &.tablet-landscape-child-span1 {
        @include for-size(tablet-landscape-up) {
            @include flex(1);
        }
    }
    &.tablet-landscape-child-span2 {
        @include for-size(tablet-landscape-up) {
            @include flex(2);
        }
    }
    &.tablet-landscape-child-span3 {
        @include for-size(tablet-landscape-up) {
            @include flex(3);
        }
    }
    &.tablet-landscape-child-span4 {
        @include for-size(tablet-landscape-up) {
            @include flex(4);
        }
    }
    &.tablet-landscape-child-span5 {
        @include for-size(tablet-landscape-up) {
            @include flex(5);
        }
    }
    &.tablet-landscape-child-span100 {
        @include for-size(tablet-landscape-up) {
            @include flex(100%);
        }
    }
    &.tablet-landscape-child-first {
        @include for-size(tablet-landscape-up) {
            @include flex-order(1);
        }
    }
    &.tablet-landscape-child-second {
        @include for-size(tablet-landscape-up) {
            @include flex-order(2);
        }
    }
    &.tablet-landscape-child-third {
        @include for-size(tablet-landscape-up) {
            @include flex-order(3);
        }
    }
    &.tablet-landscape-child-fourth {
        @include for-size(tablet-landscape-up) {
            @include flex-order(4);
        }
    }
    &.tablet-landscape-child-fifth {
        @include for-size(tablet-landscape-up) {
            @include flex-order(5);
        }
    }

    // Laptops.
    &.laptop-parent-column {
        @include for-size(desktop-up) {
            @include flexbox();
            @include flex-flow(column wrap);
        }
    }
    &.laptop-parent-row {
        @include for-size(desktop-up) {
            @include flexbox();
            @include flex-flow(row wrap);
        }
    }
    &.laptop-child-span1 {
        @include for-size(desktop-up) {
            @include flex(1);
        }
    }
    &.laptop-child-span2 {
        @include for-size(desktop-up) {
            @include flex(2);
        }
    }
    &.laptop-child-span3 {
        @include for-size(desktop-up) {
            @include flex(3);
        }
    }
    &.laptop-child-span4 {
        @include for-size(desktop-up) {
            @include flex(4);
        }
    }
    &.laptop-child-span5 {
        @include for-size(desktop-up) {
            @include flex(5);
        }
    }
    &.laptop-child-span100 {
        @include for-size(desktop-up) {
            @include flex(100%);
        }
    }
    &.laptop-child-first {
        @include for-size(desktop-up) {
            @include flex-order(1);
        }
    }
    &.laptop-child-second {
        @include for-size(desktop-up) {
            @include flex-order(2);
        }
    }
    &.laptop-child-third {
        @include for-size(desktop-up) {
            @include flex-order(3);
        }
    }
    &.laptop-child-fourth {
        @include for-size(desktop-up) {
            @include flex-order(4);
        }
    }
    &.laptop-child-fifth {
        @include for-size(desktop-up) {
            @include flex-order(5);
        }
    }

    // Desktops.
    &.desktop-parent-column {
        @include for-size(phone) {
            @include flexbox();
            @include flex-flow(column wrap);
        }
    }
    &.desktop-parent-row {
        @include for-size(big-desktop-up) {
            @include flexbox();
            @include flex-flow(row wrap);
        }
    }
    &.desktop-child-span1 {
        @include for-size(big-desktop-up) {
            @include flex(1);
        }
    }
    &.desktop-child-span2 {
        @include for-size(big-desktop-up) {
            @include flex(2);
        }
    }
    &.desktop-child-span3 {
        @include for-size(big-desktop-up) {
            @include flex(3);
        }
    }
    &.desktop-child-span4 {
        @include for-size(big-desktop-up) {
            @include flex(4);
        }
    }
    &.desktop-child-span5 {
        @include for-size(big-desktop-up) {
            @include flex(5);
        }
    }
    &.desktop-child-span100 {
        @include for-size(big-desktop-up) {
            @include flex(100%);
        }
    }
    &.desktop-child-first {
        @include for-size(big-desktop-up) {
            @include flex-order(1);
        }
    }
    &.desktop-child-second {
        @include for-size(big-desktop-up) {
            @include flex-order(2);
        }
    }
    &.desktop-child-third {
        @include for-size(big-desktop-up) {
            @include flex-order(3);
        }
    }
    &.desktop-child-fourth {
        @include for-size(big-desktop-up) {
            @include flex-order(4);
        }
    }
    &.desktop-child-fifth {
        @include for-size(big-desktop-up) {
            @include flex-order(5);
        }
    }

}