#footer, #homeFooter {
    .mobileInfo {
        margin-top: 2rem;
    }
    // By default, hide the desktop footer.
    .desktopInfo {
        display: none;
    }
    .footerText {
        font-size: 1.5rem;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    // Social icons.
    #social {
        // We need to force a height for FF.
        min-height: 3rem;
        // By default, center the content.
        @include align-items(center);
        @include justify-content(center);
        @include text-align(center);
    }
    // Shink the social icon flexboxes
    #facebook, #twitter {
        width: 3rem;
        padding: 0 1rem;
        @include for-size(phone-only) {
            margin-top: 1rem;
        }
    }
    .twitterLogo, .facebookLogo {
        max-height: 3rem;
        height: auto;
        max-width: 3rem;
        width: auto;
    }
    .footerItems {
        // Wave
        background-image: url("../images/icons/footerWave.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .terms {
        color: $colorWhite;
        a {
            color: $colorWhite;
        }
        .license, .privacy {
            width: 100%;
        }
        margin: 1rem;
        @include for-size(tablet-portrait-up) {
            margin: 0 1.5rem;
        }
        @include for-size(tablet-landscape-up) {
            margin: 0 1rem;
            justify-content: center;
        }
    }
    .privacy {
        margin-top: 0.5rem;
    }
    .license {
        margin-top: 1rem;
    }
    // For larger screens.
    @include for-size(tablet-landscape-up) {
        // Show the desktop footer and hide the mobile one.
        .desktopInfo {
            display: block;
            margin-left: 1rem;
        }
        .mobileInfo {
            display: none;
        }
        // Fix the logo size.
        .octoLogo {
            max-height: 6rem;
            height: auto;
            max-width: 100%;
            width: auto;
        }
        // Social icons.
        #social {
            // Adjust alignment.
            @include justify-content(flex-end);
            @include align-items(flex-end);
            @include text-align(right);
            margin: 0 1.5rem 0 0;
        }
    }
}

// Add extra padding everywhere but home.
#footer, #homeFooter {
    .footerItems {
        padding: 10rem 0 1rem 0;
        @include for-size(tablet-portrait-up) {
            padding: 5rem 0 1rem 0;
        }
        @include for-size(big-desktop-up) {
            padding: 8rem 0 1rem 0;
        }
    }
}

//
// Style the homeFooter
//
#homeFooter {
    .title {
        color: $colorBlueLight;
    }
    @include for-size(tablet-landscape-up) {
        .footerItems {
            background-color: $colorBody;
        }
    }
}

#homeFooterItems {
    background-color: $colorBody;
    color: $colorWhite;
    // Hide the homeFooter by default for mobile devices.
    display: none;
    @include for-size(tablet-landscape-up) {
        display: flex;
    }
}

.marxivLogoLines {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 8rem;
}
