
//
// General Fields
//
.field {
    margin: 1rem 0;
    &:first-child {
        margin: 0 auto 1rem auto;
    }
    .input {
        background-color: $colorWhite;
    }
    .default {
        color: $colorGreyDark;
    }
    .label {
        margin-right: 0.5rem;
        font-weight: $fontWeightBodyBold;
        &::after {
            content: ':';
        }
    }
}

//
// Form-specific elements
//
.form {
    .title {
        font-family: $fontHeading;
        color: $colorWhite;
        background-color: $colorBody;
        padding: 1.2rem 1rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius:  0.5rem;
    }
    .description {
        line-height: 1.75;
    }
    .content, .miniDescription {
        background-color: $colorGreyRegular;
        padding: 1rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius:  0.5rem;
    }
    .groupLabel {
        font-family: $fontHeading;
    }
    .dateWrapper {
        margin-top: 2rem;
    }
    .field {
        label {
            text-align: right;
            margin-right: 0.5rem;
            &::after {
                content: ':';
            }
        }
        &.inputTitle {
            text-align: right;
            margin-right: 0.5rem;
        }
        &.shortText, &.password, &.email {
            label {
                @include flex(1);
            }
            input {
                @include flex(2);
                border-radius: 0.5rem;
                border-color: $colorWhite;
                padding: 0.5rem;
                color: $colorBody;
                // Hack for Safari/iOS
                width: 90%;
            }
        }
        &.selectList {
            label {
                @include flex(1);
            }
            select {
                @include flex(2);
                padding: 0.5rem 2rem 0.5rem 0.5rem;
                // Hack for Safari/iOS
                width: 90%;
            }
        }
        &.selectListMulti {
            label {
                @include flex(1);
            }
            select {
                @include flex(2);
                border-radius: 0.5rem;
                border-color: $colorWhite;
                padding: 0.5rem;
                color: $colorBody;
                // Hack for Safari/iOS
                width: 90%;
            }
        }
        &.longText {
            @include for-size(phone-only) {
                margin-top: 2rem;
            }
            label {
                text-align: left;
                margin-bottom: 0.5rem;
            }
            textarea {
                border-radius: 0.5rem;
                border-color: $colorWhite;
                padding: 0.5rem;
                color: $colorBody;
                line-height: 1.5rem;
                resize: none;
                overflow: scroll;
                // Min for FF and Max for Safari
                min-height: 10rem;
                max-height: 15rem;
            }
        }
        // Don't add colons after radio labels.
        .radio {
            label {
                &::after {
                    content: '';
                }
            }
        }
    }
    &.end {
        background-color: $colorGreyRegular;
        border-radius: 0.5rem;
    }
    // Choose PDF Button overrides.
    .choose {
        width: 10rem;
        margin: 0 auto;
    }
    .chooseArchive {
        width: 17rem;
        margin: 0 auto;
    }
    &.wrapper {
        margin-bottom: 3rem;
    }
}

//
// Buttons
//
.button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    &.blue, &.lightBlue, &.orange, &.red, &.body, &.submit, &.cancel {
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
        color: $colorWhite;
        font-family: $fontHeading;
    }
    &.lightBlue {
        background-color: $colorBlueLight;
    }
    &.blue {
        background-color: $colorBlueButton;
    }
    &.orange {
        background-color: $colorOrange;
    }
    &.red {
        background-color: $colorRed;
    }
    &.body {
        background-color: $colorBody;
    }
    &.grey {
        color: $colorBody;
        padding: 1rem;
        border-radius: 0.5rem;
        text-align: center;
        font-family: $fontHeading;
        background-color: $colorGreyRegular;
    }
    &.submit, &.cancel {
        margin: 1rem;
    }
}

// Don't hyphenate buttons
button, .button {
    overflow-wrap: normal;
    white-space: wrap;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

// We need to be specific to override browser styling.
button.submit {
    background-color: $colorBlueButton;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    color: $colorWhite;
    font-family: $fontHeading;
    border: none;
    font-size: 1.25rem;
}
button.cancel {
    background-color: $colorRed;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    color: $colorWhite;
    font-family: $fontHeading;
    border: none;
    font-size: 1.25rem;
}
button.search {
    background-color: $colorOrange;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
    color: $colorWhite;
    font-family: $fontHeading;
    border: none;
}

//
// Multi-input text forms (Contribs, Citations)
//
.inputTextMulti {
    background-color: $colorGreyDark;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.savedInput {
    background-color: $colorBlueRegular;
    color: $colorWhite;
    font-family: $fontHeading;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    .deleteIcon {
      height: 0.9rem;
      width: 0.9rem;
      margin-left: 0.5rem;
    }
}

.emptyList {
    padding: 0.5rem;
    margin: 0.5rem;
}

//
// Tooltips
//
.tooltip {
    position: relative;
    display: inline-block;
    &:hover {
        .tooltipText {
            visibility: visible;
        }
    }
}

.tooltipText {
    visibility: hidden;
    background-color: $colorBody;
    color: $colorWhite;
    text-align: center;
    padding: 0.25rem 0;
    border-radius: 0.5rem;
    position: absolute;
    z-index: 1;
    width: 20rem;
    top: 100%;
    left: 50%; 
    margin-left: -10rem; /* Use half of the width to center the tooltip */
}

//
// Search forms
//
input {
    border: none;
    &[type="search"] {
        outline-offset: 0;
        background-color: $colorGreyRegular;
        padding: 1.2rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        width: 100%;
        &::placeholder {
            color: $colorBody;
            opacity: 0.6;
        }
    }
}

.form {
    .searchInput {
        margin-left: auto;
        width: 75%;
        @include for-size(tablet-portrait-up) {
            width: 80%;
        }
        @include for-size(tablet-landscape-up) {
            width: 85%;
        }
        @include for-size(desktop-up) {
            width: 90%;
        }
    }
    .button.search {
        margin-right: auto;
        width: 25%;
        @include for-size(tablet-portrait-up) {
            width: 20%;
        }
        @include for-size(tablet-landscape-up) {
            width: 15%;
        }
        @include for-size(desktop-up) {
            width: 10%;
        }
        button {
            width: 100%;
        }
    }
}

#adminButtons, #adminDashboardSelection {
   button {
      margin: 1rem
   }
}

//
// Badges (e.g. Recent Uploads metadata)
//
.badge {
    &.blue, &.orange, &.body, &.red {
        padding: 0.5rem 2rem;
        color: $colorWhite;
        font-family: $fontHeading;
        border-radius: 0.5rem;
    }
    &.blue {
        background-color: $colorBlueButton;
    }
    &.orange {
        background-color: $colorOrange;
    }
    &.body {
        background-color: $colorBody;
    }
    &.red {
        background-color: $colorRed;
    }
    &.grey {
        background-color: $colorGreyRegular;
        color: $colorBody;
        padding: 0.5rem 2rem;
        font-family: $fontHeading;
        border-radius: 0.5rem;
    }
}

//
// Or separator
//
.separator {
   overflow: hidden;
   text-align: center;
   margin: 1rem 0;
   >div {
       position: relative;
       display: inline-block;
       &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 0.1rem solid $colorOrange;
        width: 2rem;
        margin: 0 1rem;
       }
       &::before {
           right: 100%;
       }
       &::after {
           left: 100%;
       }
   }
}

//
// Radio input.
//
.radio {
    margin: 1rem auto;
    min-width: 7rem;
    label {
        margin-left: 0.5rem;
    }
    // Don't validate radios.
    input:valid {
        &::after {
            content: none;
        }
    }
}

.radioGroup {
    margin-left: 0.5rem;
}

// Style all placeholders.
::placeholder {
    color: $colorGreyDark;
    opacity: 1;
}

//
// Data Validation
//
// Valid
// input.valid {
//     &::after {
//         content: url("../images/icons/validate-check.svg");
//         height: 0.5rem;
//         max-width: 100%;
//     }
// }

// Invalid
input.invalid {
    color: $colorRed;
   //  &::after {
   //      content: url("../images/icons/exclamation-circle.svg");
   //      height: 0.5rem;
   //      max-width: 100%;
   //  }
}

// Errors
.formError {
   color: $colorRed;
}

//
// Required elements for custom Form Validation
//
.required {
    box-shadow: 0 0 0.5rem $colorBlueRegular;
    &:focus {
        box-shadow: none;
    }
}

.invalid {
    box-shadow: 0 0 0.5rem $colorRed;
    &:focus {
        box-shadow: 0 0 0.5rem $colorOrange;
    }
}

.valid {
    box-shadow: none;
}

//
// Disclaimer for user registration
//
.disclaimer {
    >div {
        margin-top: 0.5rem;
    }
    &:last-child {
        margin-bottom: 0.5rem;
    }
}

//
// MarXiv Submission Form
//
.group {
    padding: 1rem;
    margin: 1rem;
    background-color: $colorGreyDark;
    border-radius: 0.5rem;
}

.addAuthor {
    max-width: 10rem;
    min-width: 9rem;
    margin: 1rem;
}
.addOrg {
    max-width: 10rem;
    min-width: 9rem;
    margin: 1rem 2rem;
}
.addAnon {
    max-width: 17rem;
    min-width: 10rem;
    margin: 1rem;
}
.addCitation {
    max-width: 8rem;
    min-width: 7rem;
    margin: 1rem auto;
}
.addInstitution {
    max-width: 10rem;
    min-width: 9rem;
    margin: 1rem auto;
}
.addRelationship {
    max-width: 10rem;
    min-width: 9rem;
    margin: 1rem auto;
}

.form .collapsible {
    text-align: center;
    font-family: $fontHeading;
    color: $colorWhite;
    background-color: $colorBlueButton;
}

.collapsible-title {
   margin: 0.5rem
}

.date {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $colorGreyDark;
    .label {
        font-family: $fontHeading;
    }
}

.relationships {
    .description {
        margin-bottom: 1rem;
    }
    .radio {
        @include flex(1);
        min-width: 18rem;
    }
}

//
// PayPal Donations
//
.form #paypal {
    margin: 1rem auto 0 auto;
    a, a:visited, a:link {
        color: $colorWhite;
        margin: 1rem;
    }
}

//
// User profiles
//
.editWrapper {
    margin: 2rem 0;
}

//
// Semantid UI Dropdown Z-index override for License Options
//
#form {
   z-index: 1;
   position: relative !important;
}
.selectList {
   [class$="-menu"] {
      z-index: 100 !important;
      position: relative !important;
   }
}

//
// React-Select
//
#job, #country, #timezone, #contributorNameStyle, #contributorRole, #workLicense, #language, #nameStyle, #role, #order, #relationshipType, #license, #postedContentType, #badgeType, #emailVerified, #jobFocus, #newsletter, #moderationStatus, #octoWorkType, #peerReviewed {
   flex: 2;
   color: $colorBody;
   text-align: left;
}

//
// Hide the reCAPTCHA badge
//
.grecaptcha-badge {
   visibility: hidden;
}