#upperHeader {
    padding: 1rem;
    box-shadow: 0.5rem 0 0.5rem $colorBody;
    // Center the MarXiv logo by default.
    .headerLogo {
        @include align-items(center);
        @include justify-content(center);
        @include text-align(center);
    }
    // Remove the box-shdow for larger screens.
    @include for-size(tablet-landscape-up) {
        box-shadow: none;
        // Move the MarXiv logo to the left.
        .headerLogo {
            @include align-items(flex-start);
            @include justify-content(flex-start);
            @include text-align(flex-start);
            // And set a max-width to take up less space.
            max-width: 9rem;
        }
    }
}

//
// MarXiv Logo.
//
.marxivLogo {
    max-height: 5rem;
    height: auto;
    max-width: 100%;
    width: auto;
}

//
// OCTO octopus icon.
//
.octoIcon {
    max-height: 5rem;
    height: auto;
    max-width: 100%;
    width: auto;
}

//
// Main menu.
//
#mainMenu {
    // Hide the desktop version by default.
    #mainMenuDesktop {
        display: none;
    }
    #mainMenuMobile {
        ul {
            list-style-type: none;
            padding: 0;
            ul {
                padding-left: 2rem;
            }
        }
        a {
            display: block;
            padding: 0.5rem;
            text-decoration: none;
            // Adjust the font.
            color: $colorWhite;
            font-family: $fontHeading;
            font-size: 1.5rem;
            font-weight: $fontWeightHeading;
        }
        label {
            display: block;
            cursor: pointer;
            padding: 2rem 0 1rem 3rem;
            background: url("../images/icons/bars.svg") no-repeat left center;
        }
    }
    // For larger devices.
    @include for-size(tablet-landscape-up) {
        #mainMenuDesktop {
            display: block;
            .menuContent {
                ul {
                    list-style-type: none;
                    padding: 0;
                    // Make the list a flex container.
                    @include flexbox();
                    @include flex-flow(row wrap);
                    @include justify-content(space-evenly);
                    @include align-items(stretch);
                    // And each list element into a flex item.
                    li {
                        align-self: center;
                        // But hide nested menus.
                        ul {
                            display: none;
                        }
                        a {
                            // Style the active menu item.
                            &.active {
                                color: $colorOrange;
                            }
                        }
                        + li {
                            margin-top: 0;
                        }
                    }
                }
                a {
                    display: block;
                    padding: 0.5rem;
                    text-decoration: none;
                    color: $colorBody;
                    // Adjust the font.
                    font-family: $fontHeading;
                    font-size: 1.5rem;
                    font-weight: $fontWeightHeading;
                }
            }
        }
        #mainMenuMobile {
            display: none;
        }
    }
}

//
// User menu.
//
// Set a max-width so the login stays to the right on desktops.
.headerUserMenu {
   margin-left: 1rem;
    @include for-size(tablet-landscape-up) {
      margin-left: 0;
        max-width: 9rem;
    }
    a {
        text-align: center
    }
}
#userMenu {
   display: block;
   background-color: $colorOrange;
   border-radius: 0.5rem;
   ul {
         list-style-type: none;
         padding: 0;
   }
   a {
         display: block;
         padding: 0.5rem;
         text-decoration: none;
         // Adjust the font.
         color: $colorWhite;
         font-family: $fontHeading;
         font-size: 1.5rem;
         font-weight: $fontWeightHeading;
   }
}
#userMenuDesktop {
   display: block;
}

//
// Sub-menus (secondary to main menu items)
//
#submenus {
    background-color: $colorOrange;
    color: $colorWhite;
    font-family: $fontHeading;
    font-weight: $fontWeightHeading;
    font-size: 1.25rem;
    padding: 0 0.5rem 1rem 0.5rem;
    a {
        min-width: 10rem;
    }
}
#whyMarXiv {
    a {
        min-width: 13rem;
    }
}

//
// Collapsible menus.
//
// https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
#mainMenuMobile {
    .menuContent {
        padding: 0 0 0 3rem;
        max-height: 0;
        overflow: hidden;
    }
    // Hide the checkbox we generate to toggle the menu.
    input#mainMenuInput {
        display: none;
        // Also hide the menu contents.
        & ~ .menuContent {
            display: none;
        }
    }
    // Change the default open icon for when the menu has been expanded.
    input#mainMenuInput:checked +label {
        background-image: url("../images/icons/timesDark.svg");
    }
    // Toggle the menu.
    input#mainMenuInput:checked ~ .menuContent {
        display: block;
        max-height: 100%;
        background-color: $colorOrange;
        color: $colorWhite;
        padding: 0 2rem;
        @include box-shadow(0.5rem 0 0.5rem $colorBody);
    }
}

//
// Lower Header and Menu.
//
#headerWaves {
    background-image: url("../images/icons/headerWave.png");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0 3rem 0;
    // Hide on mobile/tablet.
    display: none;
    @include for-size(tablet-landscape-up) {
        display: block;
    }
    @include for-size(big-desktop-up) {
      background-image: url("../images/icons/headerWaveWide.png");
        padding: 6rem 0 4rem 0;
    }
}

#lowerMenu {
    background-color: $colorOrange;
    color: $colorWhite;
    font-family: $fontHeading;
    font-weight: $fontWeightHeading;
    padding: 0.5rem 2rem;
    .about {
        &.header {
            font-weight: $fontWeightHeadingBold;
            margin-bottom: 0.25rem;
        }
        &.desktop {
            display: none;
        }
    }
    // Center-justify the about text, but keep everything aligned to the right.
    .aboutWrapper {
        @include justify-content(center);
        @include align-items(flex-end);
        @include text-align(right);
    }
    // Once we hit larger screens, change things up.
    @include for-size(tablet-landscape-up) {
        .octoIconWrapper {
            display: none;
        }
        .aboutWrapper {
            @include justify-content(center);
            @include align-items(center);
            @include text-align(center);
        }
        .about {
            &.header, &.subheader {
                display: none;
            }
            &.desktop {
                display: block;
                font-size: 1.25rem;
                padding: 0.5rem;
            }
        }
    }
}