.home {
    &.desktopInfo, &.mobileInfo {
        font-family: $fontHeading;
        font-weight: $fontWeightHeading;
        background-image: url("../images/icons/luis-vidal-1387452-unsplash.jpg");
        height: auto;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        a:link {
            color: $colorBody;
            text-decoration: none;
        }
    }
    &.desktopInfo {
        font-size: 1.5rem;
        display: none;
        @include for-size(tablet-landscape-up) {
            display: flex;
        }
        .wrapper {
            background: rgba(255, 255, 255, 0.8);
            padding: 1rem 1rem 0 1rem;
            margin: 2rem 1rem 0 1rem;
            border-radius: 1rem 1rem 0 0;
            .text {
                margin: 1rem 0;
            }
            @include for-size(big-desktop-up) {
                margin: 2rem 5rem 0 5rem;
            }
        }
        .wrapper:first-of-type {
            margin-left: 10rem;
        }
        .wrapper:nth-last-of-type(1) {
            margin-right: 10rem;
        }
    }
    &.mobileInfo {
        font-size: 1.25rem;
        @include for-size(tablet-landscape-up) {
            display: none;
        }
        img {
            height: auto;
            width: auto;
            max-width: 5rem;
            max-height: 5rem;
            // Surround in an opaque circle.
            background: rgba(255, 255, 255, 0.8);
            border-radius: 3rem;
            padding: 1rem;
        }
        @include for-size(tablet-landscape-up) {
            .why {
                margin-left: 2rem;
            }
            .find {
                margin-right: 2rem;
            }
        }
        .textWrapper div {
            margin-bottom: 0.5rem;
            a {
                color: $colorWhite;
            }
        }
        .iconWrapper div {
            margin-top: 1rem;
        }
    }
    .statTextWrapper {
        font-family: $fontHeading;
        font-weight: $fontWeightHeading;
        // Add a vertical rule between the icon and text.
        @include for-size(tablet-landscape-up) {
            border-left: 0.2rem solid $colorOrange;
            padding: 0.1rem 0 0.1rem 1rem;
            margin: 1rem 0.5rem;
        }
    }
    .statWrapper {
        margin-top: 1rem;
        &:first-of-type {
            @include align-items(flex-end);
            @include justify-content(flex-end);
            @include for-size(tablet-portrait-up) {
                margin-right: 3rem;
            }
        }
        &:nth-last-of-type(1) {
            @include align-items(flex-start);
            @include justify-content(flex-start);
            @include for-size(tablet-portrait-up) {
                margin-left: 3rem;
            }
        }
        @include for-size(desktop-up) {
            &:first-of-type {
                margin-right: 5rem;
            }
            &:nth-last-of-type(1) {
                margin-left: 5rem;
            }
        }
        @include for-size(big-desktop-up) {
            &:first-of-type {
                margin-right: 10rem;
            }
            &:nth-last-of-type(1) {
                margin-left: 10rem;
            }
        }
        .icon {
            height: 5rem;
            width: auto;
            @include for-size(tablet-landscape-up) {
                padding-right: 1rem;
            }
        }
    }
    .stat {
        margin-top: 0.25rem;
        color: $colorOrange;
        &.upper {
            font-size: 1.25rem;
        }
        &.middle {
            font-weight: $fontWeightHeadingBold;
            font-size: 1.5rem;
        }
    }
    &.lead {
        margin: 2rem 1rem;
        h3, .statsLearn {
            // Increase margins as screens get larger
            margin: 0 2rem;
            @include for-size(tablet-landscape-up) {
                margin: 0 4rem;
            }
            @include for-size(desktop-up) {
                margin: 0 6rem;
            }
            @include for-size(big-desktop-up) {
                margin: 0 8rem;
            }
        }
        h4 {
            color: $colorBody;
        }
    }
    // Homepage content.
    .desktop {
        display: none;
        @include for-size(desktop-up) {
            display: flex;
        }
        .submit {
            background-color: $colorBlueLight;
            color: $colorWhite;
            padding: 2rem 8rem 0 8rem;
            .orangeButton {
               color: $colorWhite;
               width: 12rem;
               margin: 2rem auto 1rem auto;
               padding: 1rem 2rem;
               font-size: 1.75rem;
            }
            .subtitle {
               margin-bottom: 2rem;
            }
         }
        .title {
            font-family: $fontHeading;
            font-weight: $fontWeightHeadingBold;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        // Testamonials
        .testamonials {
            padding: 2rem 8rem;
            line-height: 1.5;
            .title {
                margin-bottom: 3rem;
            }
            .testamonial + .testamonial{
                margin-top: 2rem;
            }
            .person {
                font-size: 1.5rem;
                font-family: $fontHeading;
                font-weight: $fontWeightHeading;
            }
            .text {
                font-size: 1.2rem;
                margin-left: 2rem;
            }
            .quoteOpen {
                max-width: 1.5rem;
                max-height: 1.5rem;
                width: 100%;
                height: 100%;
                margin-right: 0.5rem;
            } 
            .quoteClosed {
                max-width: 1rem;
                max-height: 1rem;
                width: 100%;
                height: 100%;
                margin-left: 0.5rem;
            }
        }
    }
    .mobile {
        margin: 0 1rem 3rem 1rem;
        @include for-size(desktop-up) {
            display: none;
        }
    }
    .steps {
        margin-bottom: 2rem;
        // We need to explicitly set the checkmark larger.
        .done {
            .icon {
                height: 5rem;
                width: 5rem;
            }
        }
        .icon {
            max-height: 5rem;
            max-width: 5rem;
            height: auto;
            width: auto;
        }
        .text {
            margin-top: 1rem;
            font-family: $fontHeading;
            font-weight: $fontWeightHeadingBold;
            font-size: 1.5rem;
        }
    }
    .visit {
        font-size: 1.2rem;
        line-height: 1.5;
        background-color: $colorBlueRegular;
        color: $colorWhite;
        padding: 2rem;
        // Safari gets this all kinds of wrong, so we need to manually intervene a bunch.
        max-height: 10rem;
        .file {
            height: 10rem;
            width: 10rem;
            margin: auto 2rem auto 2rem;
            .icon {
                height: 10rem;
                width: auto;
            }
        }
        .chevron {
            height: 5rem;
            width: auto;
        }
        .chevronWrapper {
            align-self: center;
        }
        .wrapper {
            margin: 0 0 0 2rem;
            align-self: center;
        }
    }
    .button {
        color: $colorWhite;
        font-family: $fontHeading;
        &.wrapper {
            padding: 1rem;
            margin: 1rem 0;
            border-radius: 0.5rem;
            &.light {
                background-color: $colorBlueLight;
            }
            &.regular {
                background-color: $colorBlueRegular;
            }
            &.dark {
                background-color: $colorBody;
            }
        }
        &.title {
            font-weight: $fontWeightHeadingBold;
            font-size: 2rem;
        }
        &.subtitle {
            font-size: 1.5rem;
            font-family: $fontBody;
            margin-bottom: 0.5rem;
        }
        &.icon {
            font-size: 4rem;
            align-self: center;
        }
    }
}

// Right-arrows for the homepage buttons.
.chevron {
    max-height: 4rem;
    max-width: 4rem;
    height: auto;
    width: auto;
}
