// Support older versions of Flexbox
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
  @mixin flex-order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
  }

  @mixin flex-flow($val) {
    -webkit-flex-flow: $val;
    flex-flow: $val;
  }

  @mixin align-items($val) {
    -webkit-align-items: $val;
    align-items: $val;
  }

  @mixin justify-content($val) {
    -webkit-justify-content: $val;
    justify-content: $val;
  }

  @mixin text-align($val) {
    -webkit-text-align: $val;
    -khtml-text-align: $val;
    -moz-text-align: $val;
    text-align: $val;
  }

  // Breakpoints
  @mixin for-size($range) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
  }

  // Box shadowing
  @mixin box-shadow($values) {
    box-shadow: $values;
    -webkit-box-shadow: $values;
  }