//
// Styling for Admin and User Dashboards
//
.metadataBar {
    > div {
        margin: 1rem 1rem 0 0;
    }
    div:last-of-type {
        margin-right: 0;
    }
}

.rejected {
    color: $colorRed;
    font-size: 1.2rem;
}

.message {
    margin-left: 1rem;
    margin-top: 0.5rem;
}