// On small screens, add a margin to the top of the Abstract.
h3.paper {
    margin-top: 1rem;
    @include for-size(tablet-landscape-up) {
        margin-top: 0;
    }
}

.paper {
    .label::after {
        content: ':\2004';
    }
    .metadata {
        justify-content: space-around;
        // Set a max-height to fix the Safari flexing bug
        max-height: 7rem;
    }
    .metadataWrapper {
        margin: 1rem 0;
        @include flex(100%);
        @include for-size(tablet-portrait-up) {
            margin: 0;
            @include flex(1);
        }
        // Set a max-height to fix the Safari flexing bug
        max-height: 14rem;
    }
    .authors {
        font-family: $fontHeading;
        font-weight: $fontWeightHeading;
        font-size: 1.25rem;
    }
    .type, .license {
        align-self: center;
        &.wrapper {
            margin-bottom: 1rem;
        }
    }
    // Databases need spacing between Type and License
    &.database {
        .license.wrapper {
            @include for-size(tablet-portrait-up) {
                margin-left: 1rem;
            }
        }
    }
    .downloads {
        max-height: 5rem;
        .count {
            &.wrapper {
                justify-content: space-between;
                padding: 0.25rem;
            }
            &.badge {
                // Center on small-screens
                margin: 0 auto;
                @include for-size(tablet-portrait-up) {
                    margin: 0;
                }
            }
        }
    .icon {
            height: 3rem;
            width: 3rem;
            &.wrapper {
                padding: 0.75rem;
            }
        }
    }
    .downloadsWrapper {
        // Set a max-height to fix the Safari flexing bug
        max-height: 8rem;
    }
    .download {
        font-size: 1.25rem;
        &.button {
            margin: 2rem 0;
        }
    }
    .publicationDate {
        margin-bottom: 1rem;
        &.wrapper {
            @include for-size(tablet-portrait-up) {
                @include flex(1);
            }
            @include for-size(desktop-up) {
                @include flex(2);
            }
        }
    }
}

#licenseString {
    margin: 2rem 0;
}

#preview {
   margin: 1rem;
}

#embed {
   height: 30rem;
   width: 100%;
   margin-bottom: 1rem;
   @include for-size(desktop-up) {
       height: 60rem;
   }
}

//
// Paper Listing
//
.paperList {
    .upper {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 0.2rem solid $colorOrange;
    }
    .badge {
        margin-right: 1rem;
        margin-bottom: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

//
// Authors
//
.author {
    // Add a comma and blank space after each author.
    &::after {
        content: ',\2004';
    }
    // Except for the last author.
    &:nth-last-child(1)::after {
        content: '.';
    }
}

//
// DOIs
//
.paperDOI, .vorDOI {
    font-family: $fontHeading;
    margin-top: 1rem;
}

//
// Peer review statement.
//
.peerReview {
    margin: 2rem 0;
}

//
// Peer Review Information
//
#peerReviewInformation {
    margin-top: 1rem;
    margin-bottom: 2rem;
    >div {
        margin-bottom: 1rem;
    }
    @include for-size(desktop-up) {
        margin-top: 0;
    }
}

//
// References
//
#references {
    margin-top: 2rem;
    li {
        margin-bottom: 1rem;
    }
}

//
// Institutions
//
#institutions {
    margin-top: 1rem;
    div {
        margin: 0.5rem 0;
    }
}

//
// Related Materials
//
#relatedMaterials {
    margin-top: 2rem;
    div {
        margin: 0.5rem 0;
    }
    h2 {
       margin-bottom: 1.25rem;
    }
}

//
// Databases and Datasets
//
.paper.database {
    .abstract.wrapper {
        margin-top: 1rem;
    }
}

#parentDatabase {
    margin: 1rem 0 2rem 0;
}

//
// Tombstone pages
//
.tombstoneNotice {
    background-color: $colorOrange;
    color: $colorWhite;
    font-family: $fontHeading;
    font-weight: $fontWeightHeading;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 2rem 0;
}