// Submission Guidelines
.collapseBar {
   font-size: 1.25rem;
}


.guidelinesTitle {
   margin-bottom: 2rem;
}

#beforeSubmitMin,
#transferredCopyrightMin, 
#postGuidelinesMin,
#licenseGuidelinesMin,
#preprintGuidelinesMin, 
#ctaGuidelinesMin,
#publishGuidelinesMin {
   transition-timing-function: ease-in;
}

#beforeSubmitMax,
#transferredCopyrightMax,
#postGuidelinesMax,
#licenseGuidelinesMax,
#preprintGuidelinesMax,
#ctaGuidelinesMax, 
#publishGuidelinesMax {
   transition-timing-function: ease-out;
}
// Giphy
#giphyIframe {
   width: 50%;
   height: 50%;
   position: absolute;
}