body, input {
    font-family: $fontBody;
    font-weight: $fontWeightBody;
    color: $colorBody;
}

h1 {
    font-weight: $fontWeightHeading;
    margin: 1rem 0;
    font-size: 2rem;
    line-height: 1.25;
    ~h2, ~ h3, ~h4, ~h5, ~h6 {
        margin-top: 2rem;
    }
    strong {
        font-weight: $fontWeightHeadingBold;
    }
}

h2, h3, h4, h5, h6 {
    font-weight: $fontWeightHeading;
    margin: 0.25rem 0;
    line-height: 1.5;
    strong {
        font-weight: $fontWeightHeadingBold;
    }
}

h2 {
    font-size: 1.75rem;
    ~ h3, ~h4, ~h5, ~h6 {
        margin-top: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
    ~h4, ~h5, ~h6 {
        margin-top: 2rem;
    }
}

h4 {
    font-size: 1.25rem;
    ~ h5, ~h6 {
        margin-top: 2rem;
    }
}

h5 {
    font-size: 1.17rem;
    ~ h6 {
        margin-top: 2rem;
    }
}

h6 {
    font-size: 1.09rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontHeading;
    color: $colorHeader;
    .white {
        color: $colorWhite;
    }
    .orange {
        color: $colorOrange
    }
    .dark {
        color: $colorBody;
    }
}

p {
    line-height: 1.75;
    margin: 1.25rem auto;
    ~ h2, ~ h3 {
        margin-top: 2rem;
    }
}

li + li {
    margin-top: 0.5rem;
}

blockquote {
    border-left: 0.4rem solid $colorOrange;
    padding: 0.1rem 0 0.1rem 2rem;
    margin: 1rem 2rem;
}

strong, .strong {
    font-weight: $fontWeightBodyBold;
}

.emphasis {
   font-style: italic;
}

// Links
a {
    text-decoration: none;
    color: $colorBlueRegular;
    &:active {
        color: $colorOrange;
    }
    &:visited {
        color: $colorBlueLight;
    }
    &:hover {
        box-shadow: 0 0 0.2rem  $colorBlueButton;
        border-radius: 0.5rem;
    }
    // Ensure links can break.
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-word-break: break-all;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.form a, .form a:link, .form a:visited, .form a:active {
    color: $colorBody;
}

.normalBodyLink, a.normalBodyLink {
    color: $colorBody;
    &:visited {
        color: $colorBody;
    }
    &:link {
      color: $colorBody;
   }
   &:active {
      color: $colorBody;
   }
}

.normalHeadingLink, a.normalHeadingLink {
    color: $colorHeader;
    &:visited {
        color: $colorHeader;
    }
    &:link {
      color: $colorHeader;
   }
   &:active {
      color: $colorHeader;
   }
}

.normalWhiteLink, a.normalWhiteLink {
    color: $colorWhite;
    &:visited {
        color: $colorWhite;
    }
    &:link {
      color: $colorWhite;
   }
   &:active {
      color: $colorWhite;
   }
}
// Override for forms
.form {
   a.normalWhiteLink {
      color: $colorWhite;
      &:visited {
          color: $colorWhite;
      }
      &:link {
         color: $colorWhite;
      }
      &:active {
         color: $colorWhite;
      }
  }
}

.noHover {
    &:hover {
        box-shadow: none;
        border-radius: 0;
    }
}

// Don't break words.
.noBreak {
    overflow-wrap: normal;
    white-space: wrap;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

// MarXiv Chi.
.chi {
    color: $colorOrange;
    
}

// Tites and whatnot.
.subtitle {
    font-family: $fontHeading;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.underline {
    text-decoration: underline;
}

// Pull quotes
.pullQuote {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 3rem;
}