// Fonts.
$fontBody: 'Quattrocento Sans', sans-serif;
$fontHeading: 'Muli', sans-serif;

// Font weights.
$fontWeightHeading: 700;
$fontWeightHeadingBold: 900;
$fontWeightBody: 400;
$fontWeightBodyBold: 700;

// Font colors.
$colorBody: #3C4B52; // This should be the same color as the dark accent in the MarXiv logo.
$colorHeader: #0C98B8;

// Other colors.
$colorWhite: #FFFFFF;

// Organge
$colorOrange: #F5851F;

// Red
$colorRed: #EB615C; // For delete buttons and warnings.

// Blues
$colorBlueLight: #7FCBD8;
$colorBlueRegular: $colorHeader;
$colorBlueButton: #43B2C6;
$colorBlueDark: $colorBody;

// Greys
$colorGreyRegular: #EFEFEF;
$colorGreyDark: #D1D1D1; // For drop-down selector fields.

// Waves
$waveLight: $colorBlueLight;
$waveRegular: $colorBlueButton;
$waveDark: #0A97B5;