html, body {
    // Fix issues with iOS mobile, where in portrait mode, we could scroll off-canvas to the right about 20rem
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.gutter {
    padding: 1rem;
    @include for-size(tablet-landscape-up) {
        padding: 1rem 2rem;
    }
    @include for-size(desktop-up) {
        padding: 1rem 3rem;
    }
}

.teaser {
    border-left: 0.2rem solid $colorOrange;
    padding: 0.1rem 0 0.1rem 1rem;
    margin: 3rem 0.5rem;
}

.noTopMargin {
    margin-top: 0;
}
.noBottomMargin {
    margin-bottom: 0;
}
.noLeftMargin {
    margin-left: 0;
}
.noRightMargin {
    margin-right: 0;
}

.verticalBufferHalf {
    margin: 0.5rem 0;
}
.verticalBuffer1 {
    margin: 1rem 0;
}
.verticalBuffer2 {
    margin: 2rem 0;
}

//
// HR spacer
//
.spacer {
    border: 0.05rem solid $colorOrange;
    height: 0;
    width: auto;
}
.spacer2 {
    margin: 2rem 0;
    border-bottom: 0.2rem solid $colorOrange;
    height: 0;
    width: auto;
}
.spacer3 {
    margin: 3rem 0;
    border-bottom: 0.2rem solid $colorOrange;
    height: 0;
    width: auto;
}
.spacer4 {
    margin: 4rem 0;
    border-bottom: 0.2rem solid $colorOrange;
    height: 0;
    width: auto;
}
.spacer5 {
    margin: 5rem 0;
    border-bottom: 0.2rem solid $colorOrange;
    height: 0;
    width: auto;
}

.paginator {
    &.page {
        font-family: $fontHeading;
        font-weight: $fontWeightHeadingBold;
        margin: 1rem 0;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        &.next, &.previous {
            font-weight: $fontWeightHeading;
            &:link {
                text-decoration: none;
                color: $colorBody;
            }
        }
        &.next {
            margin-left: 0.5rem;
        }
        &.previous {
           margin-right: 0.5rem;
        }
    }
}

.largeOrangeButton {
    color: $colorWhite;
    background-color: $colorOrange;
    border-radius: 0.5rem;
    font-family: $fontHeading;
    font-weight: $fontWeightHeading;
    font-size: 1.5rem;
    padding: 0.25rem 0;
}

//
// Paper Summary
//
.summary {
    padding: 1rem;
    background-color: $colorGreyRegular;
    border-radius: 0.5rem;
    margin: 2rem 0;
    .title {
        margin-bottom: 1rem;
    }
    .authors {
        font-weight: $fontWeightHeadingBold;
    }
}

//
// Collapsibles.
//
.collapsible {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
}
  
.collapsible-content {
    // max-height: 0;
    // overflow: hidden; // should be hidden, visible for testing.
    transition: max-height 0.2s ease-out;
    padding: 0 1em;
    border-radius: 0.25em;
    .groupLabel {
        margin-bottom: 1rem;
    }
}

.collapsible-title

// Prevent P spacing from interfering
.collapsible-content p {
    margin: 0 auto 1.25rem auto;
}

.miniDescription, .collapseBar {
    cursor: pointer;
}

.collapseBar {
    font-family: $fontHeading;
    color: $colorWhite;
    background-color: $colorBody;
    border-top-left-radius: 0.5rem;
    border-top-right-radius:  0.5rem;
    .title {
        align-self: center;
        align-content: center;
        justify-content: center;
    }
    .icon {
        img {
            height: 2rem;
            width: 2rem;
        }
        padding: 1rem;
    }
}

  // Add a "min" or "max" class to set the state
  .min {
      .minimize, .content {
          display: none;
      }
      .maximize, .miniDescription {
          display: block;
      }
  }
  .max {
      .maximize, .miniDescription {
          display: none;
      }
      .minimize, .content {
        display: block;
    }
  }

//
// GIF embeds
//
.giphy {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

//
// Inline elements
//
.inline {
   display: inline;
}

.inlineBlock {
   display: inline-block;
}